.lmj-banner {
    color: #000;
    text-align: right;
    padding: 32px;
    border-bottom: 3px solid #000;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.lmj-title {
	padding-left: 32px;
   
}

.lmj-logo {
	height: 45px;
	width: 45px;
}